
#header {height: auto;box-shadow: 0 5px 8px #ededed;margin-bottom: 2%;}
.navbar-light .navbar-nav .nav-link {color: #1a385a;}
a.dashboardBtn {border: 1px solid #1a385a;color: #1a385a;}
h1{color: #1a385a}